In [1]:
###------NYC Crimes by precinct data -----###

In [3]:
# Data exploration
import pandas as pd
import numpy as np
from NYC_GetCleaned_HistoricData import getCleanedDataFrame
from data_utility import getCurrentDirectory, readCsvFile
from NYC_GetCleaned_TotalPopulation import getMeanPopulation

In [4]:
#Get cleaned historic dataframe
crimes_historic = getCleanedDataFrame()

In [5]:
#Get the total mean population of NYC based on borough
""" Bronx - 1, Brooklyn - 2, Manhattan - 3, Queens - 4, Staten Island - 5 """

bronxPop = getMeanPopulation('Bronx', 1)
brookylnPop = getMeanPopulation('Brooklyn', 2)
manhattanPop = getMeanPopulation('Manhattan', 3)
queensPop = getMeanPopulation('Queens', 4)
statIslandPop = getMeanPopulation('Staten Island', 5)

In [6]:
print(bronxPop)
print(brookylnPop)
print(manhattanPop)
print(queensPop)
print(statIslandPop)

1415948.0
2600681.5
1612077.0
2290148.5
477942.5

In [7]:
## Read CSV
precinct_data = readCsvFile('../Data/NYC_Precinct_Data.csv')
precinct_data.head()

,Shape_Area,Shape_Leng,Precinct,the_geom
0,4.730176e+07,80586.154615,1,MULTIPOLYGON (((-74.0438776157395 40.690187676...
1,1.808880e+07,18676.124259,5,MULTIPOLYGON (((-73.98863862848766 40.72293372...
2,2.213214e+07,27175.185625,6,MULTIPOLYGON (((-73.99968392160721 40.73855224...
3,4.533179e+07,29978.094261,71,MULTIPOLYGON (((-73.92854313809303 40.66457328...
4,1.046213e+08,87968.194520,72,MULTIPOLYGON (((-73.99840899113158 40.67186872...

In [8]:
crimes_historic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5835784 entries, 1 to 6039728
Data columns (total 16 columns):
CMPLNT_FR_DT         object
CMPLNT_FR_TM         object
CMPLNT_TO_DT         object
CMPLNT_TO_TM         object
RPT_DT               object
OFNS_DESC            object
PD_DESC              object
CRM_ATPT_CPTD_CD     object
LAW_CAT_CD           object
BORO_NM              object
ADDR_PCT_CD          float64
LOC_OF_OCCUR_DESC    object
PREM_TYP_DESC        object
Latitude             float64
Longitude            float64
Lat_Lon              object
dtypes: float64(3), object(13)
memory usage: 756.9+ MB

In [9]:
precinct_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 4 columns):
Shape_Area    77 non-null float64
Shape_Leng    77 non-null float64
Precinct      77 non-null int64
the_geom      77 non-null object
dtypes: float64(2), int64(1), object(1)
memory usage: 2.5+ KB

In [10]:
crimes_historic.shape

(5835784, 16)

In [11]:
precinct_data.shape

(77, 4)

In [12]:
inner_data=pd.merge(crimes_historic, precinct_data, left_on=['ADDR_PCT_CD'], right_on=['Precinct'], how='inner')
inner_data.shape

(5835784, 20)

In [13]:
inner_data.head()

,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,OFNS_DESC,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,Latitude,Longitude,Lat_Lon,Shape_Area,Shape_Leng,Precinct,the_geom
0,3/30/2014,20:40:00,3/30/2014,20:50:00,3/30/2014,DANGEROUS DRUGS,"CONTROLLED SUBSTANCE,INTENT TO",ATTEMPTED,FELONY,BRONX,44.0,INSIDE,RESIDENCE - APT. HOUSE,40.836162,-73.915250,"(40.836161968, -73.915249813)",5.553055e+07,31394.624816,44,MULTIPOLYGON (((-73.90270221290083 40.84458296...
1,4/1/2014,15:00:00,4/1/2014,15:05:00,4/1/2014,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",ATTEMPTED,FELONY,BRONX,44.0,INSIDE,STREET,40.825000,-73.916615,"(40.825000207, -73.916615377)",5.553055e+07,31394.624816,44,MULTIPOLYGON (((-73.90270221290083 40.84458296...
2,4/6/2014,14:45:00,4/6/2014,14:45:00,4/6/2014,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",ATTEMPTED,FELONY,BRONX,44.0,INSIDE,STREET,40.830013,-73.918112,"(40.830013132, -73.918112312)",5.553055e+07,31394.624816,44,MULTIPOLYGON (((-73.90270221290083 40.84458296...
3,5/6/2014,14:00:00,5/6/2014,14:05:00,5/6/2014,GRAND LARCENY OF MOTOR VEHICLE,"LARCENY,GRAND OF AUTO",ATTEMPTED,FELONY,BRONX,44.0,INSIDE,STREET,40.828608,-73.921742,"(40.828607613, -73.92174192)",5.553055e+07,31394.624816,44,MULTIPOLYGON (((-73.90270221290083 40.84458296...
4,3/6/2014,23:42:00,3/6/2014,23:42:00,3/7/2014,POSSESSION OF STOLEN PROPERTY,"STOLEN PROPERTY 2,1,POSSESSION",ATTEMPTED,FELONY,BRONX,44.0,INSIDE,STREET,40.838752,-73.913758,"(40.83875187, -73.913757556)",5.553055e+07,31394.624816,44,MULTIPOLYGON (((-73.90270221290083 40.84458296...